header{

text-align: center;
padding: 2%; margin: 2%;
background-color: black;
background-size: 45 ; 
border-radius: 20px;
 
 }

ol,ul{

list-style: none;

}

#mainmenu{
margin: 10px;
width: 900px; 
font-family: sans-serif;
}

#mainmenu li{

display: block; 
width: 120px;
float: left;
margin-left: 2px; 
border: 1px solid #000;
} 

#mainmenu a {

display: block; padding: 3px;
text-decoration: none; 
background-color:green;
color: white;
}

#mainmenu a: hover{

background-color: #009; 
color: #fff;
}

h1{
   font-family: sans-serif;
}

body{

     background:linear-gradient(darkolivegreen, darkseagreen)

}

#home {

background-image: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url('https://th.bing.com/th/id/OIP.rcyrJueTkyG9u3Sp-McI1gHaHa?w=171&h=180&c=7&o=5&dpr=1.25&pid=1.7');
text-align:center;
padding: 2%;
margin: 2%;
background-size: 45%;
border-radius: 20px;
   }

#about {

background-image: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url('https://th.bing.com/th/id/OIP.fvIySXpx0Fu7c4ohQky3oAHaCx?w=311&h=130&c=7&o=5&dpr=1.25&pid=1.7');

background-repeat: cover;

text-align: center;

padding: 2;

margin: 2%;

background-size: 45%; border-radius: 20%;

}

#contact {

background-image:linear-gradient (rgba(255,255,255,0.75),rgba(255, 255,255,0.75));
text-align: center;
padding: 2%;
margin: 2%;
background-size:45;
border-radius: 20px; 
}  